# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Ignore build folder
build/
dist/

**/.DS_Store
.vscode

# Ignore ssl secret
src/config/sslcert/*
