<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/covid19.css" />
</head>

<body>
    <div class="jsx-2148643840">
        <div id="stat" class="jsx-1529211916 card">
            <h2 class="jsx-1529211916">
                <div class="jsx-1529211916">COVID-19</div>
                <div class="jsx-1529211916 subtitle">
                    <span class="jsx-1529211916 due">Until: {{ update_time }} UTC</span>
                </div>
            </h2>
            <div class="jsx-2233476302 row">
                <div class="jsx-889234990 tag">
                    <div class="jsx-889234990 tag-title">US</div>
                    <div class="jsx-889234990 counts">
                        <section class="jsx-889234990">
                            <strong class="jsx-889234990">{{ us_total }}</strong>
                        </section>
                    </div>
                </div>
                <div class="jsx-889234990 tag">
                    <div class="jsx-889234990 tag-title">CA</div>
                    <div class="jsx-889234990 counts">
                        <section class="jsx-889234990">
                            <strong class="jsx-889234990">{{ ca_total }}</strong>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>