<!DOCTYPE html>
<html lang="en">

<head>
    <meta charSet="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/covid19.css" />
</head>

<body>
    <div class="jsx-2148643840">
        <div id="stat" class="jsx-1529211916 card">
            <h2 class="jsx-1529211916">
                <div class="jsx-1529211916">{{ title }}</div>
                <div class="jsx-1529211916 subtitle">
                    <span class="jsx-1529211916 due">Until: {{ update_time }} UTC</span>
                </div>
            </h2>
            <div class="jsx-2233476302 row">
                <div class="jsx-889234990 tag">
                    <div class="jsx-889234990 tag-title">US</div>
                    <div class="jsx-889234990 counts">
                        <section class="jsx-889234990">
                            <div class="jsx-889234990">New: <span class="jsx-889234990">{{ us_daily_update_info_json.us_daily_add_new }}</span></div>
                            <strong class="jsx-889234990">{{ us_daily_update_info_json.us_total }}</strong>
                            <div class="jsx-889234990">Confirmed</div>
                        </section>
                        <section class="jsx-889234990">
                            <strong class="jsx-889234990">{{ us_daily_update_info_json.us_total_recovered }}</strong>
                            <div class="jsx-889234990">Recovered</div>
                        </section>
                        <section class="jsx-889234990">
                            <div class="jsx-889234990">New: <span class="jsx-889234990">{{ us_daily_update_info_json.us_daily_deaths_new }}</span></div>
                            <strong class="jsx-889234990">{{ us_daily_update_info_json.us_total_deaths }}</strong>
                            <div class="jsx-889234990">Deaths</div>
                        </section>
                    </div>
                </div>
                <div class="jsx-889234990 tag">
                    <div class="jsx-889234990 tag-title">CA</div>
                    <div class="jsx-889234990 counts">
                        <section class="jsx-889234990">
                            <div class="jsx-889234990">New: <span class="jsx-889234990">{{ ca_daily_update_info_json.ca_daily_add_new }}</span></div>
                            <strong class="jsx-889234990">{{ ca_daily_update_info_json.ca_total }}</strong>
                            <div class="jsx-889234990">Confirmed</div>
                        </section>
                        <section class="jsx-889234990">
                            <strong class="jsx-889234990">{{ ca_daily_update_info_json.ca_total_recovered }}</strong>
                            <div class="jsx-889234990">Recovered</div>
                        </section>
                        <section class="jsx-889234990">
                            <div class="jsx-889234990">New: <span class="jsx-889234990">{{ ca_daily_update_info_json.ca_daily_deaths_new }}</span></div>
                            <strong class="jsx-889234990">{{ ca_daily_update_info_json.ca_total_deaths }}</strong>
                            <div class="jsx-889234990">Deaths</div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="map" class="jsx-2160275241 card">
            <div class="jsx-2160275241 tab-container">
                <div class="jsx-2160275241 active">
                    <h3 class="jsx-2160275241">🇺🇸 US Cases
                        <div class="jsx-2160275241"></div>
                    </h3>
                    <div class="jsx-3748010317 state-table">
                        <header class="jsx-3748010317 row">
                            <span class="jsx-3748010317">Location</span>
                            <span class="jsx-3748010317">Confirmed</span>
                            <span class="jsx-3748010317">Deaths</span>
                            <span class="jsx-3748010317">Case fatality rate</span>
                            <span class="jsx-3748010317">Source</span>
                        </header>

                        {{#each state_json as |state_info state_name| }}
                        <div class="jsx-3748010317">
                            <div class="jsx-3748010317 stat row">
                                <span class="jsx-3748010317">{{ state_name }}
                                    {{#if state_info.isSOE}}
                                    <i aria-label="icon: warning" tabindex="-1" class="anticon anticon-warning emergency-icon">
                                        <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="warning" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                            <path d="M464 720a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm16-304v184c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V416c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8zm475.7 440l-416-720c-6.2-10.7-16.9-16-27.7-16s-21.6 5.3-27.7 16l-416 720C56 877.4 71.4 904 96 904h832c24.6 0 40-26.6 27.7-48zm-783.5-27.9L512 239.9l339.8 588.2H172.2z"></path>
                                        </svg>
                                    </i>
                                    {{/if}}
                                </span>
                                <span class="jsx-3748010317">{{ state_info.confirmed }}</span>
                                <span class="jsx-3748010317">{{ state_info.deaths }}</span>
                                <span class="jsx-3748010317">{{ state_info.daeath_rate }}</span>
                                <span class="jsx-3748010317"></span>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>